<div class="maindiv">
    <div class="back">
        <mat-icon aria-hidden="false" aria-label="Example home icon" class="backHome" routerLink="/login">arrow_back</mat-icon>
    </div>
    <div class="left-side">
      <div class ="title">
        <p class="body-text">Recupera tu Contraseña</p>
      </div>
      <div class="wrap-login">
        <form [formGroup] >
          <div class="email">
            <p>Correo electronico</p>
            <input type="email" id="email" #email aria-describedby="emailHelp">
          </div>
          <div class="button">
            <input type="button" class="btn btn-primary" value="Cambiar contraseña" (click)="onSubmit(email.value)">
          </div>
        </form>
      </div>
    </div>
    <div class="right-side">
  </div>
</div>
