<div class="maindiv">
  <div class="back">
      <mat-icon aria-hidden="false" aria-label="Example home icon" class="backHome" routerLink="/">arrow_back</mat-icon>
  </div>
    <div class="nuevaCuenta">
        <input type="button" class="btn btn-light" value="Quiero crear una cuenta" routerLink="/signup">
      </div>
    <div class="left-side">
      <div class ="title">
        <p class="body-text">Inicia sesión si ya tienes una cuenta</p>
      </div>
      <div class="wrap-login">
        <form >
          <div class="email">
            <p>Correo electronico</p>
            <input type="email" id="exampleInputEmail1" #email aria-describedby="emailHelp">
          </div>
          <div class="password">
            <p>Contraseña</p>
            <input type="password" #password id="exampleInputPassword1">
          </div>
          <div class="button">
            <input type="button" class="btn btn-success" value="Iniciar sesión" (click)="authService.SignIn(email.value, password.value)">
          </div>

          <div class="forgot">
            <a class="nav-link" routerLink="/forgot">He olvidado mi contraseña</a>
          </div>
        </form>
      </div>
    </div>
    <div class="right-side">


    </div>
  </div>

