.body{
  width: 100%;
  height: 100%;
}

.divForm{
  width: 90%;
  height: 90%;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

.titulo{
  width: 90%;
  max-width: 500px;
}

.guardarButton{
  max-width: 500px;
}

.cartel{
  margin-top: 20px;
}

.crear{
  margin-top: 20px;
}

.footer{
  margin-top: 20px;
  float: left;
  text-align: center;
  align-items: center;
}
.signout{
    display: inline-block;
    cursor: pointer;
    font-size: 12px;
    text-align: center;
    justify-content: center;
}
.buttonCambiar{
  cursor: pointer;
}
.fotoEstablecimiento{
  cursor: pointer;
}

.salir{
  font-size: 30px;

  margin-top:0px;
  margin-right: 10px;
}

.volver{
  width: 60px;
}

#titleQuestion{
  margin-top: 10px;
}